@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Jost, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Source Sans Pro, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div:has(.graphiql-container) {
  height: 100vh;
}

@layer base {
  [data-nextjs-scroll-focus-boundary]:not(:has(.graphiql-container)) {
    display: contents;
  }
}
